In [1]:
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
# Load data 
train = pd.read_csv('/kaggle/input/titanic/train.csv')
test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
# TAHAP 1: PEMBERSIHAN DATA (DATA CLEANING)

# 1. Mengisi data umur (Age) yang kosong dengan nilai tengah (median)
train['Age'] = train['Age'].fillna(train['Age'].median())
test['Age'] = test['Age'].fillna(test['Age'].median())

# 2. Mengisi data tarif (Fare) yang kosong di data test
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

# 3. Mengubah data teks 'Sex' menjadi angka agar bisa dibaca mesin
# male = 0, female = 1
train['Sex'] = train['Sex'].map({'male': 0, 'female': 1})
test['Sex'] = test['Sex'].map({'male': 0, 'female': 1})

In [7]:
# TAHAP 2: MEMILIH FITUR (FEATURE SELECTION)

# Kita pilih kolom yang paling berpengaruh: Kelas, Jenis Kelamin, Umur, Saudara, Orangtua, Tarif
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

X = train[features]           # Data untuk belajar
y = train['Survived']         # Jawaban kunci (Target)
X_test = test[features]       # Data soal ujian (yang mau diprediksi)

In [8]:


# TAHAP 3: MELATIH MODEL (TRAINING)

# Kita menggunakan Random Forest karena biasanya akurat untuk data Titanic
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

# TAHAP 4: PREDIKSI & SIMPAN HASIL

predictions = model.predict(X_test)

# Membuat DataFrame untuk hasil akhir
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})

# Menyimpan ke file CSV (siap untuk submit ke Kaggle)
output.to_csv('submission.csv', index=False)

print("Sukses! File 'submission.csv' berhasil dibuat.")
print(output.head()) # Menampilkan 5 baris pertama hasil prediksi

Sukses! File 'submission.csv' berhasil dibuat.
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1